body {font-family: 'Lato', sans-serif;
}

/* #quiz {
  display:inline-block;

  background: #d2def2;
  padding: 10px 20px 10px 20px 10px 20px;
  width: 500;
  border-radius: 20px;
  float: center;
  font-size: 15px;

} */

#naam {
    color: white;
    font-size: 40px;
}

/* #button {
    background: green;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 16px;
    transition-duration: .5s;
    margin-top: 15px;
} */

#button:hover {
    background: white;
    border: 1px solid green;
    color: black;
    cursor: pointer;
}

#after_loginName {
  display: none;
  font-size: 30px;
}

#login {
    display: inline;
}

#header {
    display: inline;
}
#after_login {
  display: none;
  /* background: #ff5459;
  padding: 10px 20px 10px 20px;
  width: 400px;
  border-radius: 20px;
  float: left;
  margin-left: 20px; */
  /* font-size: 30px; */
}


#after_submit {
  display: none;
  background: #ff5459;

  /* padding: 10px 20px 10px 20px;
  width: 400px;
  border-radius: 20px;
  float: left;
  margin-left: 20px;
  font-size: 30px; */
}


#picture {
    width: 375px;

}
