

th, td {
    padding: 15px;
}

.info {
    display: inline-block;
    border: 1px solid;
    height: 250px;
}

.badges {
    display: inline-block;
    border: 1px solid black;
    border-collapse: collapse;
}